.radar-chart-container {
  background-color: var(--color-background-primary, #fff);
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  border-radius: 0.08rem;
  background-color: #fff;
  border-radius: 12px;
  margin-top: 16px;

}

.radar-chart-title {
  font-size: 0.32rem;
  font-weight: bold;
  color: var(--color-text-primary, #333);
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.title-bar {
  width: 3px;
  height: 14px;
  background: #D10B23;
  border-radius: 1px;
  margin-right: 0.12rem;
}

/* Tab切换样式 */
.ability-types-tabs {
  display: flex;
  margin-bottom: 0.2rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px 0px;
}

.ability-types-tabs::-webkit-scrollbar {
  display: none;
}

.tab-item {
  flex-shrink: 0;
  padding: 0.12rem 0.3rem;
  font-size: 0.28rem;
  color: #666;
  background: #F5F5F5;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
}

.tab-item-active {
  font-weight: 500;
  border-radius: 10px;
}

.tab-item-active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 0.18rem solid transparent;
  border-right: 0.18rem solid transparent;
  border-top: 0.18rem solid #FEF4F6;
}

/* 不同颜色的三角形 */
.tab-item-active.tab-color-0::after {
  border-top-color: #FEF4F6;
}

.tab-item-active.tab-color-1::after {
  border-top-color: #FFF7E6;
}

.tab-item-active.tab-color-2::after {
  border-top-color: rgb(234, 252, 240);
}

.tab-item-active.tab-color-3::after {
  border-top-color: rgb(244, 247, 255);
}

.tab-item-active.tab-color-4::after {
  border-top-color: #FFF0F6;
}

/* 雷达图卡片 */
.radar-chart-item {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #DBDBDB;

  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); */
}

/* 雷达图头部 */
.radar-chart-header {
  width: 100%;
  height: 0.8rem;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  border-radius: 0.12rem 0.12rem 0 0;


}

.chart-title-icon {
  width: 16px;
  height: 12px;
  border: 2px solid;
  border-radius: 3px;
  margin-right: 0.12rem;
  position: relative;
  flex-shrink: 0;
}

.chart-title-icon::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--dot-color);
  border-radius: 50%;
  top: -0.04rem;
  right: -0.04rem;
}

.chart-title-text {
  font-size: 0.3rem;
  font-weight: 500;
  color: #333;

  font-family: PingFangSC, PingFang SC;
  font-weight: 400;
  font-size: 14px;
  color: #222222;
  line-height: 10px;
  text-align: left;
  font-style: normal;
}

.radar-chart-content {
  width: 100%;
  background: #fff;
}